@import url('comment_insert.css');

 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background: #c7c7c7;
}

a img {
    border: none;
}

.wrapper {
    width: 750px;
    border: 1px solid #a1a1a1;
    margin: 10px auto 10px auto;
    height: auto;
    background: #ffffff;
}

.page-data {
    width: auto;
    height: 50px;
    color: #666666;
    margin: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.comment-wrapper {
    margin: 10px;
    border: 1px solid #e1e1e1;
    height: auto;
    width: auto;
    color: #444444;
}

h3.comment-title {
    height: 40px;
    line-height: 37px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color: #555555;
    border-bottom: 1px solid #e1e1e1;
}

.comments-list {
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color: #555555;
}

ul.comments-holder-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    overflow: hidden;
}

ul.comments-holder-ul li.comment-holder {
    list-style-type: none;
    background: #fffff5;
    height: auto;
    width: auto;
    margin: 5px 0 10px 0;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    position: relative;
}

ul.comments-holder-ul li.comment-holder:hover {
    background: #ffffdb;
    border: 1px solid #c1c1c1;
}

ul.comments-holder-ul li.comment-holder .user-img {
    float: left;
    height: 65px;
    width: 65px;
    margin: 0 10px 0 0;
}

ul.comments-holder-ul li.comment-holder .user-img .user-img-pic {
    width: 55px;
    height: auto;
    margin: 5px;
    border: 1px solid #a1a1a1;
}

ul.comments-holder-ul li.comment-holder .user-img .user-img-pic:hover {
    border: 1px solid #818181;
}

ul.comments-holder-ul li.comment-holder .comment-body {
    width: auto;
}

ul.comments-holder-ul li.comment-holder h3.username-field {
    height: 30px;
    line-height: 27px;
    color: #2e5cb8;
    font-size: 14px;
    margin: 0 0 0 10px;
}

ul.comments-holder-ul li.comment-holder h3.username-field:hover {
    color: #254a93;
}

ul.comments-holder-ul li.comment-holder .comment-text {
    display: block;
    width: auto;
    font-size: 13px;
    margin: 0 10px 10px 75px;
    word-wrap: normal;
}

ul.comments-holder-ul li.comment-holder:hover .comment-buttons-holder {
    display: block;
}

.comment-buttons-holder {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 20px;
}

.comment-buttons-holder ul {
    list-style-type: none;
    width: auto;
    height: auto;
    overflow: hidden;
}

.comment-buttons-holder ul li {
    float: right;
    height: 20px;
    width: 20px;
    background: #2e5cb8;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
    cursor: pointer;
}

.comment-buttons-holder ul li:hover {
    color: #444444;
    background: #6d8dcd;
}