@import url('CommentInsert.css');

* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body{
    background: #C7C7C7;
}

a img{
    border: none;
}

.wrapper{
    background: #FFFFFF;
    width: 750px;
    border: 1px solid #A1A1A1;
    margin: 10px auto 10px auto;
    height: auto;
}

.page-data{
    width: auto;
    height: 50px;
    color: #666666;
    margin: 10px;
    border-bottom: 1px solid #E1E1E1;
}

.comment-wrapper{
    margin: 10px;
    border: 1px solid #E1E1E1;
    height: auto;
    width: auto;
    color: #444444;
}

h3.comment-title{
    height: 40px;
    line-height: 37px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color: #555555;
    border-bottom: 1px solid #E1E1E1;
}

.comment-list{
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color: #555555;
}

ul.comments-holder-ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    overflow: hidden;
}

ul.comments-holder-ul li.comment-holder{
    list-style-type: none;
    background: #FFFFF5;
    height: auto;
    width: auto;
    margin: 5px 0 10px 0;
    border: 1px solid #E1E1E1;
    overflow: hidden;
    position: relative;
}

ul.comments-holder-ul li.comment-holder:hover{
    background: #FFFFDB;
    border: 1px solid #C1C1C1;
}

ul.comments-holder-ul li.comment-holder .user-img{
    float: left;
    height: 65px;
    width: 65px;
    margin: 0 10px 0 0;
}

ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic{
    width: 55px;
    height: auto;
    margin: 5px;
    border: 1px solid #E1E1E1;
}

ul.comments-holder-ul li.comment-holder .user-img img.user-img-pic:hover{
    border: 1px solid #818181;
}
.comment-body{
    width: auto;
}

ul.comments-holder-ul li.comment-holder h3.username-field{
    height: 30px;
    line-height: 27px;
    color: #2E5CB8;
    font-size: 14px;
    margin: 0 0 0 10px;
}

ul.comments-holder-ul li.comment-holder h3.username-field:hover{
    color: #254A93;
}

ul.comments-holder-ul li.comment-holder .comment-text{
    display: block;
    width: auto;
    font-size: 13px;
    margin: 0 10px 10px 75px;
    word-wrap: normal;
}

ul.comments-holder-ul li.comment-holder:hover .comment-button-holder{
    display: block;
}

.comment-button-holder{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 20px;
}

.comment-button-holder ul{
    list-style-type: none;
    width: auto;
    height: auto;
    overflow: hidden;
}

.comment-button-holder ul li{
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
    background: #2E5CB8;
    cursor: pointer;
}

.comment-button-holder ul li:hover{
    color: #444444;
    background: #6D8DCD;
}
